@model Microsoft.AspNetCore.Identity.IdentityUser
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Edit User";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    @* <div class="form-group">
        <label asp-for="Role" class="control-label">Select Role</label>
        <select asp-for="Role" asp-items="@Model.RoleList" class="form-select" aria-required="true">
            <option value="">Select Role</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div> *@
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
